server:
    port: 8080
    servlet:
        context-path: /

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: root
        url: jdbc:mysql://localhost:3306/trouytin_db
        username: root
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
        generate-ddl: true
        hibernate:
            ddl-auto: update
        show-sql: true
    main:
        allow-circular-references: true

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
            enabled: true
            file-size-threshold: 0
            location: /tmp

    mail:
        host: smtp.gmail.com
        port: 587
        username: zxque9681@gmail.com
        password: kpdg oisb uldk hwpj
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true


twilio:
    account_sid: ACc2a522ebd3172b9f66ac39c838814f51
    auth_token: b32ec809812a18c11b411bb2b9702a5e
    trial_number: +12314004777

vnpay:
    returnUrl: http://localhost:8080/api/v1/payment/vnpay-return
    paymentUrl: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    tmnCode": QYBSTFGY
    hashSecret: ZZFKYHJMITRTSDOUEIJUFQYRLLRMMSVN
    version: 2.1.0

