server:
    port: 8080
    servlet:
        context-path: /

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: 422001
        url: jdbc:mysql://localhost:3306/trouytin_db
        username: root
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
        generate-ddl: true
        hibernate:
            ddl-auto: create-drop
        show-sql: true
    main:
        allow-circular-references: true

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
            enabled: true
            file-size-threshold: 0
            location: /tmp


twilio:
    account_sid: ACc2a522ebd3172b9f66ac39c838814f51
    auth_token: 3db836b47f6499cb4b8291ede670a688
    trial_number: +12314004777